/* line 1, ../sass/apartments_list.sass */
.apartments {
  float: left;
  width: 295px;
  margin-right: 20px;
}

/* line 6, ../sass/apartments_list.sass */
.apartments__list_item {
  overflow: hidden;
  margin-bottom: 10px;
}

/* line 10, ../sass/apartments_list.sass */
.apartments__list_item_photo {
  padding: 2px;
  border: 1px solid #d8d6d4;
  float: left;
}

/* line 15, ../sass/apartments_list.sass */
.apartments__list_item_descr {
  margin-left: 130px;
}
