/* line 4, ../sass/apartments_short.sass */
.apartments_short {
  float: left;
  width: 295px;
  margin-right: 20px;
}

/* line 9, ../sass/apartments_short.sass */
.apartments_short__list_item {
  overflow: hidden;
  margin-bottom: 10px;
}

/* line 13, ../sass/apartments_short.sass */
.apartments_short__list_item_photo {
  padding: 2px;
  border: 1px solid #d8d6d4;
  float: left;
}
/* line 17, ../sass/apartments_short.sass */
.apartments_short__list_item_photo img {
  display: block;
}

/* line 20, ../sass/apartments_short.sass */
.apartments_short__list_item_descr {
  margin-left: 130px;
}

/* line 23, ../sass/apartments_short.sass */
.apartments_short__list_item_title {
  font-size: 14px;
  line-height: 20px;
}
/* line 26, ../sass/apartments_short.sass */
.apartments_short__list_item_title a {
  color: #852432;
  text-decoration: none;
}
/* line 29, ../sass/apartments_short.sass */
.apartments_short__list_item_title a:hover {
  color: #3c1017;
}

/* line 32, ../sass/apartments_short.sass */
.apartments_short__list_item_adress {
  color: #aaaaaa;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 6px;
}

/* line 38, ../sass/apartments_short.sass */
.apartments_short__list_item_cost {
  font-weight: bold;
  font-size: 12px;
  color: #777777;
  line-height: 24px;
}

/* line 44, ../sass/apartments_short.sass */
.apartments_short__list_item_cost__monthly {
  font-weight: normal;
}

/* line 47, ../sass/apartments_short.sass */
.apartments_short__list_item_rooms {
  font-size: 12px;
  line-height: 14px;
  color: #777777;
}
