/* line 3, ../sass/contacts_fast.sass */
.contacts_fast {
  clear: both;
  padding: 10px 20px 10px 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff0e0), color-stop(100%, #f7e1c9));
  background-image: -webkit-linear-gradient(top, #fff0e0, #f7e1c9);
  background-image: -moz-linear-gradient(top, #fff0e0, #f7e1c9);
  background-image: -o-linear-gradient(top, #fff0e0, #f7e1c9);
  background-image: linear-gradient(top, #fff0e0, #f7e1c9);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFF0E0', endColorstr='#FFF7E1C9');
  border-top: 1px solid #fef6ee;
  border-bottom: 1px solid #ebd0b4;
  line-height: 26px;
  font-size: 12px;
  color: #852432;
}
