/* line 4, ../sass/global.sass */
.g-more_info_button {
  border: 1px solid #e9cfb8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffecd7), color-stop(100%, #f8e2ca));
  background-image: -webkit-linear-gradient(top, #ffecd7, #f8e2ca);
  background-image: -moz-linear-gradient(top, #ffecd7, #f8e2ca);
  background-image: -o-linear-gradient(top, #ffecd7, #f8e2ca);
  background-image: linear-gradient(top, #ffecd7, #f8e2ca);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFECD7', endColorstr='#FFF8E2CA');
  text-decoration: none;
  color: #4f4840;
  padding: 0 30px;
  line-height: 30px;
  font-size: 14px;
  display: inline-block;
}
/* line 15, ../sass/global.sass */
.g-more_info_button:hover {
  color: #7f7467;
}

/* line 18, ../sass/global.sass */
.g-block_title {
  width: 100%;
  border-bottom: 1px solid #4f4840;
  margin: 0 0 8px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

/* line 28, ../sass/global.sass */
.g-text_block_title {
  font-size: 16px;
  line-height: 24px;
  color: dimgrey;
  text-transform: capitalize;
  margin: 0 0 5px;
}
