/* line 1, ../sass/layout.sass */
body {
  background: white;
  font: 12px/14px Arial, Helvetica, sans-serif;
  color: #777777;
}

/* line 6, ../sass/layout.sass */
#conteiner {
  width: 960px;
  margin: 0 auto;
}

/* line 10, ../sass/layout.sass */
#header {
  overflow: hidden;
  padding-top: 15px;
}

/* line 42, sprites/*.png */
.sprites-sprite, .logo__img {
  background: url('D:/Github/mini-site/app/img/sprites-s3f31e51849.png') no-repeat;
}

/* line 4, ../sass/logo.sass */
#logo {
  float: left;
  text-decoration: none;
  text-align: right;
  margin-bottom: 20px;
}

/* line 10, ../sass/logo.sass */
.logo__img {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-position: 0 0;
}

/* line 17, ../sass/logo.sass */
.logo__text {
  font-weight: normal;
  display: inline-block;
}

/* line 21, ../sass/logo.sass */
.logo__tag {
  font-size: 36px;
  line-height: 38px;
  color: #4c483f;
  text-transform: uppercase;
  padding-top: 3px;
}
/* line 27, ../sass/logo.sass */
.logo__tag b {
  font-weight: bold;
}

/* line 30, ../sass/logo.sass */
.logo__subtag {
  font: 13px/15px Calibri, Arial, Helvetica, sans-serif;
  color: #852432;
  margin: 0 5px 0 0;
}

/* line 3, ../sass/menu_main.sass */
.menu_main {
  float: right;
  overflow: hidden;
  margin-top: 25px;
}

/* line 8, ../sass/menu_main.sass */
.menu_main__unit {
  float: left;
  margin: 0 1px;
}

/* line 12, ../sass/menu_main.sass */
.menu_main__item {
  color: #852432;
  text-decoration: none;
  padding: 0 9px;
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
}
/* line 19, ../sass/menu_main.sass */
.menu_main__item:hover {
  color: #7f7467;
}

/* line 22, ../sass/menu_main.sass */
.menu_main__item_state_current {
  background: #852432;
  color: white;
}
/* line 25, ../sass/menu_main.sass */
.menu_main__item_state_current:hover {
  color: white;
}

/* line 3, ../sass/contacts_fast.sass */
.contacts_fast {
  clear: both;
  padding: 10px 20px 10px 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff0e0), color-stop(100%, #f7e1c9));
  background-image: -webkit-linear-gradient(top, #fff0e0, #f7e1c9);
  background-image: -moz-linear-gradient(top, #fff0e0, #f7e1c9);
  background-image: -o-linear-gradient(top, #fff0e0, #f7e1c9);
  background-image: linear-gradient(top, #fff0e0, #f7e1c9);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFF0E0', endColorstr='#FFF7E1C9');
  border-top: 1px solid #fef6ee;
  border-bottom: 1px solid #ebd0b4;
}
