/* line 3, ../sass/main_slider.sass */
#main_slider {
  overflow: hidden;
  margin: 1px 0 20px;
  width: 100%;
  height: 314px;
  position: relative;
}

/* line 10, ../sass/main_slider.sass */
.main_slider__item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* line 18, ../sass/main_slider.sass */
.main_slider__item__image {
  width: 630px;
  overflow: hidden;
  float: left;
}

/* line 23, ../sass/main_slider.sass */
.main_slider__item__description_block {
  padding: 20px 19px 20px 20px;
  width: 290px;
  height: 274px;
  border-left: 1px solid #4e79bb;
  float: left;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c69ac), color-stop(100%, #204782));
  background-image: -webkit-linear-gradient(top, #3c69ac, #204782);
  background-image: -moz-linear-gradient(top, #3c69ac, #204782);
  background-image: -o-linear-gradient(top, #3c69ac, #204782);
  background-image: linear-gradient(top, #3c69ac, #204782);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3C69AC', endColorstr='#FF204782');
}

/* line 32, ../sass/main_slider.sass */
.main_slider__item__title {
  margin: 30px 0 20px 0;
  font-size: 28px;
  line-height: 30px;
  color: white;
}

/* line 38, ../sass/main_slider.sass */
.main_slider__item__text {
  margin: 0 0 20px 0;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
}

/* line 45, ../sass/main_slider.sass */
.main_slider__item__description_block .g-more_info_button {
  margin-top: 30px;
}
